* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: var(--co-white);
}

ul {
    list-style: none; /* list-style: none нужен чтобы убрать точки у ссылок */
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* text-decoration: none убирает подчеркивание у ссылок */
    color: unset; /*color: unset убирает синий цвет у ссылки*/
}

h1, h2, h3, h4, h5, figure {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    width: 81px;
    height: 24px;
    flex-shrink: 0; /* Flex-shrink — свойство в CSS, которое определяет способность flex-элемента сжиматься при недостатке места в контейнере. */
}

.btn {
    border: none;
    border-radius: 3px;
    outline: none; /* Свойство outline в CSS — сокращённое свойство для задания контура (внешней границы) вокруг элемента.  */
    width: 185px;
    height: 50px;
    color: var(--co-white);
    font-size: 20px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    background-color: var(--co-light-green);
}

.btn:hover,
.btn:focus-visible { /* focus-visible при наведении */
    outline: 2px solid var(--co-dark-green);
    cursor: pointer;
}

.btn--signin {
    background-color: transparent; /* Прозрачный фон */
    color: var(--co-black);
}