.card {
    width: 390px;
    height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: end; /* Все элементы прижаты к низу */
    align-items: start;
    gap: 60px;
}

.card_title {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--co-black);
    align-self: center; /* Align-self — свойство CSS, которое устанавливает выравнивание отдельного flex-элемента вдоль поперечной оси. */
}

.card_title::before {
    content: "01";
    position: absolute;
    top: -115px;
    left: -105px;
    font-size: 150px;
    font-weight: 400;
    color: var(--co-light-green);
    opacity: 30%; /* Прозрачность */
}

.card_desc {
    font-size: 20px;
    font-weight: 500;
    color: var(--co-night-black);
}

.card_img {
    width: 100%;
    object-fit: cover; /* object-fit: cover — значение свойства object-fit в CSS, которое заставляет изображение полностью заполнить область родительского элемента.  */
    border-radius: 12px;
    aspect-ratio: auto 65/82; /* Aspect-ratio: auto — значение свойства aspect-ratio в CSS, которое указывает, что у элемента нет предпочитаемого соотношения сторон */

}

.card_title--second::before {
    content: "02";
}

.card_title--third::before {
    content: "03";
    left: -130px;
}

.card_title--right {
    align-self: end;
}

@media (max-width: 480px) {
    .card {
        width: 390px;
        height: 700px;
    }
    .card_title {
        font-size: 22px;
    }
    .card_title::before {
        top: -90px;
    }
    .card_desc {
        font-size: 16px;
    }
    /* .card_title .card_title--right {
        align-self: center;
    } */
}