.product {
    padding: 115px 0 240px 0;
}

.product_wrapper {
    width: 100%;
    position: relative;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: start;
    padding: 0 30px;
}

.product_preview {
    border-radius: 18px;
    overflow: hidden;
    height: 570px;
}

.product_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_content {
    max-width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 20px;
}

.product_info {
    font-size: 25px;
    font-weight: 600;
    color: var(--co-light-black);
}

.product_title {
    font-size: 50px;
    font-weight: 700;
    color: var(--co-light-green);
}

.product_desc {
    font-size: 20px;
    font-weight: 400;
    color: var(--co-light-black);
}

.product_content .btn {
    width: 230px;
    height: 65px;
    margin: 20px 0 0 0;
}

@media (max-width: 992px) {
    .product_content {
        max-width: 390px;
    }
    .product_title {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .product {
        padding: 115px 0;
    }
    .product_wrapper {
        flex-wrap: wrap; /* flex-wrap: wrap нужен для того, чтобы контент становился колонкой друг под другом  */
        justify-content: center;
        gap: 50px;
    }
    .product_preview {
        height: 470px;
    }
    .product_title {
        font-size: 28px;
    }
    .product_desc {
        font-size: 16px;
    }
    .product_wrapper .person-card {
        display: none;
    }
}