.success {
    background-color: var(--co-dark-green);
}

.success_wrapper {
    padding: 220px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    flex-wrap: wrap-reverse;
}

.success_content {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    place-items: start;
    max-width: 550px;
    gap: 20px;
}

.success_title {
    font-size: 50px;
    font-weight: 700;
    color: var(--co-white);
}

.success_desc {
    font-size: 25px;
    font-weight: 600;
    color: var(--co-white);
}

.success_content .btn {
    margin: 50px 0 0 0;
    width: 240px;
    height: 65px;
}

.success_content .btn:hover {
    outline: 2px solid var(--co-white);
}

.success_content_video {
    max-width: 790px;
    height: 455px;
    position: relative;
    border-radius: 16px;
}

.success_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 158/91;
}

.success_play_icon {
    position: absolute;
    z-index: 2;
    width: 72px;
    height: 73px;
    fill: var(--co-white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: 0.6s;
}

.success_play_icon:hover {
    fill: var(--co-dark-green);
    cursor: pointer;
}

.success_gradient {
    position: absolute;
    z-index: 1;
    inset: 0;
    background: linear-gradient(180deg, rgba(0,0,0, .1), rgba(0,0,0,.5)) center/cover no-repeat;
}

@media (max-width: 1400px) {
    .success_wrapper {
        justify-content: center;
    }
    .success_content {
        text-align: center;
        place-items: center start;
    }
}

@media (max-width: 576px) {
    .success_wrapper {
        padding: 150px 0;
    }
    .success_title {
        font-size: 32px;
    }
    .success_desc {
        font-size: 20px;
    }
}